## Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
x = pd.Series([10, 20, 30, 40, 50])
x

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
x.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
x.dtype

dtype('int64')

In [5]:
x.values

array([10, 20, 30, 40, 50], dtype=int64)

In [20]:
data = [450, 650, 870]
#index = ['Don', 'Mike', 'Edwin']
index = [2010, 2011, 2012]
sales = pd.Series(data, index=index)
sales.index.name = "Year"
sales.name = "Total Sales per year"
sales

Year
2010    450
2011    650
2012    870
Name: Total Sales per year, dtype: int64

In [19]:
sales.index

Int64Index([2010, 2011, 2012], dtype='int64', name='Year')

In [22]:
sales[2012]
sales

Year
2010    450
2011    650
2012    870
Name: Total Sales per year, dtype: int64

In [24]:
sales.iloc[0]

450

In [26]:
sales[2010]

450

In [28]:
sales > 500

Year
2010    False
2011     True
2012     True
Name: Total Sales per year, dtype: bool

In [30]:
sales[[False, True, True]]

Year
2011    650
2012    870
Name: Total Sales per year, dtype: int64

In [32]:
sales[sales>500]

Year
2011    650
2012    870
Name: Total Sales per year, dtype: int64

In [35]:
list(sales [sales > 500].values)

[650, 870]

In [37]:
650 in sales

False

In [40]:
650 in sales.values

True

In [42]:
sales.to_dict()

{2010: 450, 2011: 650, 2012: 870}

In [46]:
sales_dict = {
    "Don" : 534,
    "Mike" : 453,
    "Edwin" : 412
    
}
sales_ser = pd.Series(sales_dict)
sales_ser

Don      534
Mike     453
Edwin    412
dtype: int64

In [48]:
new_sales = pd.Series(sales_dict, index=["Don", "Mike", "Sally", "Edwin", "Lucy"])
new_sales

Don      534.0
Mike     453.0
Sally      NaN
Edwin    412.0
Lucy       NaN
dtype: float64

In [50]:
np.isnan(new_sales)

Don      False
Mike     False
Sally     True
Edwin    False
Lucy      True
dtype: bool

In [52]:
new_sales.loc["Sally"] is None

False

In [55]:
n = np.nan
n

nan

In [57]:
type(n)

float

In [59]:
new_sales

Don      534.0
Mike     453.0
Sally      NaN
Edwin    412.0
Lucy       NaN
dtype: float64

In [63]:
new_sales.loc["Sally"] = 540
new_sales

Don      534.0
Mike     453.0
Sally    540.0
Edwin    412.0
Lucy       NaN
dtype: float64

In [65]:
new_sales.index.name = "Sales Person"

In [68]:
new_sales.name = "Total TV Sales"

In [70]:
new_sales

Sales Person
Don      534.0
Mike     453.0
Sally    540.0
Edwin    412.0
Lucy       NaN
Name: Total TV Sales, dtype: float64

## DataFrames
- Two-dimensional
- Size mutable
- Heterogenous
- Rows and columns(records and series)

In [71]:
sales_df = pd.DataFrame(new_sales)

In [74]:
sales_df

              Total TV Sales
Sales Person
Don                    534.0
Mike                   453.0
Sally                  540.0
Edwin                  412.0
Lucy                     NaN

In [77]:
data = [['Adrian', 20], ['Bethany', 22], ['Chloe', 41]]
df = pd.DataFrame(data, columns="Name", "Age"])
df

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (1988499650.py, line 2)

In [79]:
list_dicts = {
    {"Name":"Tom", Sales:300},
    {"Name":Greg},
    {name, Paula, Sales, 542, Performance, Outstanding},
    
}

NameError: name 'Sales' is not defined